In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Adaml\OneDrive - TU Eindhoven\University\Year 2\Q3\DBL Process Mining\BPI Challenge 2017.csv")

In [19]:
df.head(15)

,case,event,startTime,completeTime,LoanGoal,ApplicationType,RequestedAmount,Action,FirstWithdrawalAmount,Accepted,NumberOfTerms,OfferID,org:resource,MonthlyCost,EventOrigin,EventID,Selected,CreditScore,OfferedAmount
0,Application_652823628,A_Create Application,2016/01/01 10:51:15.304,2016/01/01 10:51:15.304,Existing loan takeover,New credit,20000.0,Created,NaN,NaN,NaN,NaN,User_1,NaN,Application,Application_652823628,NaN,NaN,NaN
1,Application_652823628,A_Submitted,2016/01/01 10:51:15.352,2016/01/01 10:51:15.352,Existing loan takeover,New credit,20000.0,statechange,NaN,NaN,NaN,NaN,User_1,NaN,Application,ApplState_1582051990,NaN,NaN,NaN
2,Application_652823628,A_Concept,2016/01/01 10:52:36.413,2016/01/01 10:52:36.413,Existing loan takeover,New credit,20000.0,statechange,NaN,NaN,NaN,NaN,User_1,NaN,Application,ApplState_642383566,NaN,NaN,NaN
3,Application_652823628,W_Complete application,2016/01/02 11:45:22.429,2016/01/02 11:45:22.429,Existing loan takeover,New credit,20000.0,Obtained,NaN,NaN,NaN,NaN,User_17,NaN,Workflow,Workitem_1875340971,NaN,NaN,NaN
4,Application_652823628,A_Accepted,2016/01/02 12:23:04.299,2016/01/02 12:23:04.299,Existing loan takeover,New credit,20000.0,statechange,NaN,NaN,NaN,NaN,User_52,NaN,Application,ApplState_99568828,NaN,NaN,NaN
5,Application_652823628,O_Create Offer,2016/01/02 12:29:03.994,2016/01/02 12:29:03.994,Existing loan takeover,New credit,20000.0,Created,20000.0,True,44.0,NaN,User_52,498.29,Offer,Offer_148581083,True,979.0,20000.0
6,Application_652823628,O_Created,2016/01/02 12:29:05.354,2016/01/02 12:29:05.354,Existing loan takeover,New credit,20000.0,statechange,20000.0,True,44.0,Offer_148581083,User_52,498.29,Offer,OfferState_1514834199,True,979.0,20000.0
7,Application_652823628,O_Sent (mail and online),2016/01/02 12:30:28.606,2016/01/02 12:30:28.606,Existing loan takeover,New credit,20000.0,statechange,20000.0,True,44.0,Offer_148581083,User_52,498.29,Offer,OfferState_2051164740,True,979.0,20000.0
8,Application_652823628,W_Call after offers,2016/01/02 12:30:28.631,2016/01/02 12:30:28.631,Existing loan takeover,New credit,20000.0,Obtained,20000.0,True,44.0,Offer_148581083,User_52,498.29,Workflow,Workitem_719909876,True,979.0,20000.0
9,Application_652823628,A_Complete,2016/01/02 12:30:28.633,2016/01/02 12:30:28.633,Existing loan takeover,New credit,20000.0,statechange,20000.0,True,44.0,Offer_148581083,User_52,498.29,Application,ApplState_946455804,True,979.0,20000.0
10,Application_652823628,W_Validate application,2016/01/13 14:10:55.145,2016/01/13 14:10:55.145,Existing loan takeover,New credit,20000.0,Obtained,20000.0,True,44.0,Offer_148581083,User_117,498.29,Workflow,Workitem_1641716416,True,979.0,20000.0
11,Application_652823628,A_Validating,2016/01/13 14:10:55.973,2016/01/13 14:10:55.973,Existing loan takeover,New credit,20000.0,statechange,20000.0,True,44.0,Offer_148581083,User_117,498.29,Application,ApplState_752879093,True,979.0,20000.0
12,Application_652823628,O_Returned,2016/01/13 14:11:03.569,2016/01/13 14:11:03.569,Existing loan takeover,New credit,20000.0,statechange,20000.0,True,44.0,Offer_148581083,User_117,498.29,Offer,OfferState_1310330551,True,979.0,20000.0
13,Application_652823628,W_Call incomplete files,2016/01/14 10:16:20.972,2016/01/14 10:16:20.972,Existing loan takeover,New credit,20000.0,Obtained,20000.0,True,44.0,Offer_148581083,User_115,498.29,Workflow,Workitem_2031858979,True,979.0,20000.0
14,Application_652823628,A_Incomplete,2016/01/14 10:16:20.974,2016/01/14 10:16:20.974,Existing loan takeover,New credit,20000.0,statechange,20000.0,True,44.0,Offer_148581083,User_115,498.29,Application,ApplState_390139749,True,979.0,20000.0

In [15]:
asd = df.groupby("case")
len(asd.groups)

31509

In [18]:
df['LoanGoal'].value_counts()

Car                       161959
Home improvement          137441
Existing loan takeover    103858
Other, see explanation     51779
Unknown                    40940
Not speficied              18991
Remaining debt home        18352
Extra spending limit       10637
Caravan / Camper            6363
Motorcycle                  4728
Boat                        3482
Tax payments                2618
Business goal                500
Debt restructuring            23
Name: LoanGoal, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561671 entries, 0 to 561670
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   case                   561671 non-null  object
 1   event                  561671 non-null  object
 2   startTime              561671 non-null  object
 3   completeTime           561671 non-null  object
 4   LoanGoal               561671 non-null  object
 5   ApplicationType        561671 non-null  object
 6   RequestedAmount        561671 non-null  float64
 7   Action                 561671 non-null  object
 8   FirstWithdrawalAmount  413046 non-null  float64
 9   Accepted               413046 non-null  object
 10  NumberOfTerms          413046 non-null  float64
 11  OfferID                381537 non-null  object
 12  org:resource           561671 non-null  object
 13  MonthlyCost            413046 non-null  float64
 14  EventOrigin            561671 non-null  object
 15  EventID                561671 non-null  object
 16  Selected               413046 non-null  object
 17  CreditScore            413046 non-null  float64
 18  OfferedAmount          413046 non-null  float64
dtypes: float64(6), object(13)
memory usage: 81.4+ MB