In [1]:
import pandas as pd
import os
import graphviz
import pm4py

In [5]:
df = pd.read_csv(r"C:\Users\Adaml\OneDrive - TU Eindhoven\University\Year 2\Q3\DBL Process Mining\BPI Challenge 2017.csv")
df

,case,event,startTime,completeTime,LoanGoal,ApplicationType,RequestedAmount,Action,FirstWithdrawalAmount,Accepted,NumberOfTerms,OfferID,org:resource,MonthlyCost,EventOrigin,EventID,Selected,CreditScore,OfferedAmount
0,Application_652823628,A_Create Application,2016/01/01 10:51:15.304,2016/01/01 10:51:15.304,Existing loan takeover,New credit,20000.0,Created,NaN,NaN,NaN,NaN,User_1,NaN,Application,Application_652823628,NaN,NaN,NaN
1,Application_652823628,A_Submitted,2016/01/01 10:51:15.352,2016/01/01 10:51:15.352,Existing loan takeover,New credit,20000.0,statechange,NaN,NaN,NaN,NaN,User_1,NaN,Application,ApplState_1582051990,NaN,NaN,NaN
2,Application_652823628,A_Concept,2016/01/01 10:52:36.413,2016/01/01 10:52:36.413,Existing loan takeover,New credit,20000.0,statechange,NaN,NaN,NaN,NaN,User_1,NaN,Application,ApplState_642383566,NaN,NaN,NaN
3,Application_652823628,W_Complete application,2016/01/02 11:45:22.429,2016/01/02 11:45:22.429,Existing loan takeover,New credit,20000.0,Obtained,NaN,NaN,NaN,NaN,User_17,NaN,Workflow,Workitem_1875340971,NaN,NaN,NaN
4,Application_652823628,A_Accepted,2016/01/02 12:23:04.299,2016/01/02 12:23:04.299,Existing loan takeover,New credit,20000.0,statechange,NaN,NaN,NaN,NaN,User_52,NaN,Application,ApplState_99568828,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561666,Application_1350494635,O_Sent (mail and online),2017/01/02 20:27:20.453,2017/01/02 20:27:20.453,Home improvement,New credit,20000.0,statechange,20000.0,False,77.0,Offer_1580299144,User_96,297.81,Offer,OfferState_1959881309,False,0.0,20000.0
561667,Application_1350494635,W_Call after offers,2017/01/02 20:27:20.472,2017/01/02 20:27:20.472,Home improvement,New credit,20000.0,Obtained,20000.0,False,77.0,Offer_1580299144,User_96,297.81,Workflow,Workitem_358206591,False,0.0,20000.0
561668,Application_1350494635,A_Complete,2017/01/02 20:27:20.474,2017/01/02 20:27:20.474,Home improvement,New credit,20000.0,statechange,20000.0,False,77.0,Offer_1580299144,User_96,297.81,Application,ApplState_1120616436,False,0.0,20000.0
561669,Application_1350494635,A_Cancelled,2017/01/16 10:51:21.114,2017/01/16 10:51:21.114,Home improvement,New credit,20000.0,statechange,20000.0,False,77.0,Offer_1580299144,User_28,297.81,Application,ApplState_1869071797,False,0.0,20000.0
561670,Application_1350494635,O_Cancelled,2017/01/16 10:51:21.139,2017/01/16 10:51:21.139,Home improvement,New credit,20000.0,statechange,20000.0,False,77.0,Offer_1580299144,User_28,297.81,Offer,OfferState_420066181,False,0.0,20000.0

In [4]:
df.info()

Car                       161959
Home improvement          137441
Existing loan takeover    103858
Other, see explanation     51779
Unknown                    40940
Not speficied              18991
Remaining debt home        18352
Extra spending limit       10637
Caravan / Camper            6363
Motorcycle                  4728
Boat                        3482
Tax payments                2618
Business goal                500
Debt restructuring            23
Name: LoanGoal, dtype: int64

In [ ]:
process_model = pm4py.discover_bpmn_inductive(df)
pm4py.view_bpmn(process_model)